<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: chocolate">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>este es el cambio del dddddproyecto para el desarrollo</p>
    ffgdgf kj kjhkj sdsdsdsd asfasa sassdfsd df
     <strong>asdasdasdas</strong>
  </body>
</html>
